.about{
    background-color: hsla(0, 0%, 92%, 1);
    padding-block-start: 140px;
    padding-block-end: 100px;
    .about__box{
        display: flex;
        gap: 70px;
        justify-content: center;
        .box__info{
            max-width: 688px;
            .about__titel{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                line-height: 17px;
                letter-spacing: 2.7625px;
                text-transform: uppercase;
                color: #99823D;
                padding-block-end: 5px;
            }
            .about__text-titel{
                font-family: 'Teko';
                font-style: normal;
                font-weight: 400;
                font-size: 53px;
                line-height: 53px;
                text-transform: capitalize;
                color: #141414;                
            }
            .box__info-text{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 26px;
                color: #141414;                
            }
        }
        .articl__box{
            padding-block-end: 50px;
            .articl__date{
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                line-height: 17px;
                letter-spacing: 2.7625px;
                text-transform: uppercase;
                color: #99823D;   
                padding-block-end: 15px;             
            }
            .articl__text{
                font-family: 'Teko';
                font-style: normal;
                font-weight: 400;
                font-size: 26px;
                line-height: 26px;
                text-transform: capitalize;
                color: #141414;                
            }
        }
    }
}