.slide{
    background-color: hsla(0, 0%, 92%, 1);
    padding-block-end: 100px;
    .card{
        max-width: 412px;
        position: relative;
        .img{
            aspect-ratio: 4/3;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                inline-size: 100%;
                block-size: 100%;
                object-fit: cover;
            }
        }
    
            h2{
                padding: 20px 92px;
                background-color: hsla(0, 0%, 0%, 1);     
                position: absolute;      
                bottom: 0px;
                left: 0;
                z-index: 35;
                a{
                    font-family: 'Teko';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 26px;
                    line-height: 26px;
                    text-align: center;
                    text-transform: capitalize;
                    color: #FFFFFF;  
                }
            }
            p{
                padding: 0px 41px 78px 44px;
                background-color: hsla(45, 43%, 42%, 1);
                position: absolute;
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                line-height: 34px;
                letter-spacing: 2.7625px;
                text-transform: uppercase;
                color: #FFFFFF;        
                bottom: 0px;
                right: 0;        
                z-index: 30;
            }
            small{
                padding: 9px 36px;
                background-color: hsla(0, 0%, 8%, 1);
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 11px;
                line-height: 16px;
                letter-spacing: 2.72px;
                text-transform: uppercase;
                color: #FFFFFF;        
                position: absolute;
                left: 0;
                top: 0;        
            }
        
    }
}


.slide__list{
    display: flex;
    justify-content: center;
    gap: 34px;
    flex-wrap: wrap;
}